@import url("https://fonts.googleapis.com/css?family=Saira+Condensed:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900");

.App {
  text-align: center;
}

html {
  background-color: #031023;
}

button {
  font-family: "Saira Condensed", sans-serif;
}
